/** Header */

.header {
    height: 300px;
}

;

/** logotipo que direciona para o home */


/** texto da parte do meio */

.middlePart {
    width: ;
}

;

/** footer */

footer {
    background-color: darkorange;
};